// 覆盖默认样式
@import '@/assets/scss/reset.scss';
// 一些css常量,需要在明暗主题之前引入
@import './theme-css-variables.scss';// 明，暗主题的css变量
@import './variables-dark.scss';
@import './variables-light.scss';
@import './variables.scss';
// 明暗主题
@import './theme-dark.scss';
@import './theme-light.scss';
@import './theme-filter-invert-dark.scss';
@import './theme-filter-invert-light.scss';
// 一些通用的移动端样式
@import './mobile.scss';
// JSON查看器样式
@import './vue-json.scss';


// 边框盒模型
* {
  box-sizing: border-box;
}

// 滚动条
::-webkit-scrollbar-track-piece {
  background: #d3dce6;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #0000003d;
  border-radius: 5px;
}