/*
在 src\components\LightDarkSwitch\index.vue 中，
会根据用户选择来在html标签上切换theme-light 与 theme-dark 这两个类
*/
.theme-dark {
  color: $text-dark;

  // 侧边栏
  .sidebar-container {
    background-color: $menuBg-dark;

    .top-logo {
      color: $logoText-dark;
    }

    .menu {
      background-color: $menuBg-dark;

      .el-menu {
        background-color: rgba(0, 0, 0, 0);

        // 主菜单
        .el-menu-item,
        .el-sub-menu__title,
        .el-sub-menu {
          color: $menuText-dark;

          &:hover {
            background-color: $menuHover-dark;
          }

          &.is-active {
            color: $menuActiveText-dark;
          }
        }

        // 子菜单
        .el-sub-menu {
          & .el-menu-item {
            background-color: $subMenuBg-dark;

            &:hover {
              background-color: $subMenuHover-dark;
            }

            &.is-active {
              color: $subMenuActiveText-dark;
            }
          }
        }

      }
    }

    .darg-line {
      border-right: 1px solid $dargLineBG-dark;
    }
  }

  // 导航栏
  .navbar-container {
    background-color: $narBarBg-dark;
    color: $narBarText-dark;

    .left {

      .menu {
        .el-breadcrumb__inner {
          color: $narBarText-dark !important;
        }

        .el-breadcrumb__inner.is-link:hover {
          color: rgb(0, 140, 255) !important;
        }

        .el-breadcrumb__item:last-child .el-breadcrumb__inner,
        .el-breadcrumb__item:last-child .el-breadcrumb__inner a,
        .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover,
        .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
          font-weight: 400;
          color: #606266 !important;
          cursor: text;
        }
      }

    }

    .right {
      .shortcut {
        background: $shortcutBg-dark;
      }
    }

  }

  // TagsView
  .tags-view-container {
    border-top: 1px solid $tagsViewBorder-dark;
    border-bottom: 1px solid $tagsViewBorder-dark;
    background-color: $tagsViewBg-dark;
    color: $tagsViewText-dark;
    // 右键菜单栏
    .content-menu-container {
      .el-card {
        box-shadow: 0 3px 7px rgba(130, 130, 130, 0.3);

        ul>li {
          &:hover {
            background-color: rgba(255, 255, 255, 0.1);
          }
        }
      }
    }
  }


  // 主内容
  .appmain-container {
    background-color: $appMainBg-dark;
    color: $appMainText-dark;
  }
}