// 侧边栏
// 侧边栏-主菜单
$menuText: #1c1b1b;
$menuActiveText: #409EFF;
$menuBg: #ffffff;
$menuHover: #eaeff66f;
// 侧边栏-子菜单
$subMenuBg: #c8c9c922;
$subMenuHover: #d3d6d787;
$subMenuActiveText: #a2a2f0;
// 侧边栏-logo
$logoText: #000000;
$dargLineBG: #DCDFE6;
// 顶部导航
$narBarBg: rgb(255, 255, 255);
$narBarText: #111010;
$shortcutBg: linear-gradient(225deg, #eae6e6, #fffefe);
// TagsView
$tagsViewBg:white;
$tagsViewBorder:#DCDFE6;
// AppMain
$appMainBg: rgba(232, 231, 231, 0.452);
$appMainText: black;