$text-dark:#bfcbd9;
// 侧边栏
// 侧边栏-主菜单
$menuText-dark:#bfcbd9;
$menuActiveText-dark:#409EFF;
$menuBg-dark:#151718;
$menuHover-dark:#a3a7ac1f;
// 侧边栏-子菜单
$subMenuBg-dark:#4244474a;
$subMenuHover-dark:#0015284c;
$subMenuActiveText-dark:#5555be; 
// 侧边栏-logo
$logoText-dark:#ffffff;
$dargLineBG-dark:#241e1e;
// 顶部导航
$narBarBg-dark:rgb(21, 20, 20);
$narBarText-dark:#bfcbd9;
$shortcutBg-dark:linear-gradient(225deg, #282525, #150101);
// TagsView
$tagsViewBg-dark:rgb(22, 21, 21);
$tagsViewBorder-dark:#2f3030cb;
$tagsViewText-dark:#bfcbd9;
// AppMain
$appMainBg-dark:rgba(0, 0, 0, 0.852);
$appMainText-dark: rgb(255, 255, 255);
